body {
    background: #222222;
    margin: 0;
    padding: 24px;
    border: 2px solid #444444;
}

p{
    color: white;
}
h1, h2 {
    color: white;
    text-shadow: 0pc 0pc 8px black
}

h1 {
    font-size: 28pt;
}

#hest {
    text-decoration: underline;
    color:moccasin;
}

img {
    width: 430px;
    border: solid 2px white;
    box-shadow: 5px 5px 20px gray;
}

#hestk {
  border: solid 2px #222222;
  width: 800px;
}
